@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <h2>Bienvenido a este sistema</h2>

    <p class="text-primary">Este es un sistema que permite gestionar los recursos humanos de una empresa, <br />asi como tambien busca bridar las herramientas necesarias
    para que nuestros <br /> clientes queden satisfechos con los servicios que aqui le brindamos.</p>

    <p class="text-primary">Debajo se encuentran dos botones que lo enviaran a los modulos principales de este sistema,<br /> dentro de ellos encontrara los contenidos correspondiente
    de cada uno</p>
    <div class="row">
        <div class="col-md-5">
            @Html.ActionLink("Modulo de Mantenimiento", "mantenimiento", "Home", new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5">
            @Html.ActionLink("Modulo de Procesos", "procesos", "Home", new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
