@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <h2>Bienvenido a este sistema</h2>

    <p class="text-primary col-md-4" style="text-align:justify">Este es un sistema que permite gestionar los recursos humanos de una empresa, asi como tambien busca bridar las herramientas necesarias
    para que nuestros clientes queden satisfechos con los servicios que aqui le brindamos.</p>

    <p class="text-primary col-md-4" style="text-align:justify">Debajo se encuentran dos botones que lo enviaran a los modulos principales de este sistema, dentro de ellos encontrara los contenidos correspondiente
    de cada uno</p>
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Modulo de Mantenimiento", "mantenimiento", "Home", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Modulo de Procesos", "procesos", "Home", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Informes", "informes", "Home", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
